[
  {syslog_drain_stdout_emitter, [
    {[{app_name, <<"heroku">>}, {proc_id, <<"router">>}], [syslog_to_stdout]}
  ]},
  {syslog_drain_riemann_emitter, [
    {[{app_name, <<"heroku">>}, {proc_id, <<"router">>}], [heroku_router_to_riemann]},
    {[{app_name, <<"heroku">>}, {proc_id, <<"web.%">>}], [heroku_metrics_to_riemann]},
    {[{'_', '_'}], [syslog_to_riemann]}
  ]}
].
