[
  {syslog_drain_stdout_emitter, [
    {'_', [syslog_to_stdout]}
  ]},
  {syslog_drain_riemann_emitter, [
    {heroku_router, [heroku_router_to_riemann]},
    {heroku_metric, [heroku_metrics_to_riemann]},
    {app_metric, [app_metric_to_riemann]}
  ]}
].

[
  {syslog_drain_stdout_emitter, [
    {'_', [syslog_to_stdout]}
  ]},
  {syslog_drain_riemann_emitter, [
    {heroku_router, [heroku_router_to_riemann]},
    {heroku_metric, [heroku_metrics_to_riemann]},
    {app_metric, [app_metric_to_riemann]}
  ]}
].
