{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {syslog_octet_frame, ".*", {git, "https://github.com/CamShaft/syslog-octet-frame.git", "0.1.1"}},
  {syslog_header, ".*", {git, "https://github.com/CamShaft/syslog-header.git", "0.1.0"}},
  {ring_buf, ".*", {git, "https://github.com/CamShaft/ring_buf.git", "master"}},
  {folsom, ".*", {git, "https://github.com/boundary/folsom.git", "0.7.4"}},
  {syslog_message_keyvalue, ".*", {git, "https://github.com/CamShaft/syslog-message-keyvalue.git", "0.1.0"}}
]}.
