{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {syslog_octet_frame, ".*", {git, "https://github.com/CamShaft/syslog-octet-frame.git", "0.1.1"}},
  {syslog_header, ".*", {git, "https://github.com/CamShaft/syslog-header.git", "0.2.0"}},
  {syslog_message_keyvalue, ".*", {git, "https://github.com/CamShaft/syslog-message-keyvalue.git", "0.1.1"}}
]}.
